body {
    background-color: red;
}

img {
    width: 50%;
    height: auto;
}

.container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}

.container iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
}

.box {
    max-width: 400px;
    min-height: 400px;
    border: 10px solid black;
    margin: 50px auto;
    border-radius: 0;
}

@media (max-width: 640px) {
    img {
        width: 100%;
    }
}

@media (min-width: 640px) {
    body {
        background-color: blue;
    }
    
} 

@media (min-width: 700px) and (max-width: 1000px)
{
    .box{
        border-radius: 50%;
    }
}